bin
obj
csx
.vs
edge
Publish

.env
.funcpack/

*.user
*.suo
*.cscfg
*.Cache
project.lock.json

/packages
/TestResults

/tools/NuGet.exe
/App_Data
/secrets
/data
.secrets
appsettings.json
local.settings.json

/FindAllTeams/node_modules
/FindAllTeams/package-lock.json
/RegisterStorageAccount/node_modules
/RegisterStorageAccount/package-lock.json
/RegisterEventHub/node_modules
/RegisterEventHub/package-lock.json
/DeactivateTeam/node_modules
/DeactivateTeam/package-lock.json
/BoostRate/node_modules
/BoostRate/package-lock.json
/SubmitContent/node_modules
/SubmitContent/package-lock.json
/node_modules
/package-lock.json

.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json